body {
    background-color: rgba(0, 0, 0, 0.845);
    color: aliceblue;
    /*text color*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h5 {
    display: inline;
    text-align: center;
    font-style: italic;
    background-color: darkgray;
    font-weight: bolder;
    color: black;
}

a {
    color: aqua;
}

a:visited {
    color: darkgray;
}

img {
    border: 2px solid fuchsia;
    padding: 3px;
    margin: 5px;
    /*centers stuff*/
    /* display: block;
    margin: auto; */
}

.imgcenter {
    display: block;
    margin: auto;
}

.rizz {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: lime;
    background-color: fuchsia;
    font-size: 36pt;
    font-style: italic;
    border: 5px solid yellow;
}

.rizz:hover {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    /* font-size: 16pt; */
    font-style: normal;
    border: none;
    background-color: black;
}
li{
    text-decoration: overline;
}
li:hover{
    text-decoration: underline;
}
